@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: 12em repeat(7, auto) 7em;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    max-width: 100vw;
}

header, footer {
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    margin: 0.5em 0em 0.5em 0em;
    background-color: seashell;
    color: lightcoral;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3em 3em 3em;
    grid-row: 1;
    align-items: center;
}

header h1 {
    color: lightcoral;
    border-bottom: solid 2px lightcoral;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    grid-column: 1;
    grid-row: 1;
}

header h2 {
    color: lightcoral;
    border-bottom: solid 2px lightcoral;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    grid-column: 1;
    grid-row: 2 / span 3;
}

header .index_button {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
}

header .login_button, header .named_button {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
}

header .register_button, header .logout_button {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 9;
}

footer p {
    font-weight: 600;
    margin: 0;
}

footer .index_button {
    margin: 0;
}
