#create_service {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: seashell;
    margin: 1em;
    padding-bottom: 1em;
}

#create_service h2 {
    color: lightcoral;
    text-align: center;
    border-bottom: solid 2px lightcoral;
    margin: 1em auto 0em auto;
    padding-bottom: 1em;
    font-size: 2em;
    font-weight: 600;
}

#create_service label {
    color: gray;
    font-size: 1.25em;
    margin-top: 0.7em;
    text-align: center;
}

#create_service .confirm_button {
    margin: 0.5em auto 0.5em auto;
}

#create_service #service-result {
    text-align: center;
    color: lightsalmon;
    font-size: 1.3em;
    margin: 1em;
}