#register_page {
    grid-row: 2;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 1em auto 1em auto;
}

#register_page label {
    color: lightcoral;
}


#register_page h2 {
    font-size: 2.5em;
    margin-bottom: 0em;
    padding-bottom: 0.5em;
    text-align: center;
    color: lightcoral;
    border-bottom: solid 2px lightcoral;
}

#register_page #register-result {
    text-align: center;
    color: lightsalmon;
    font-size: 1.5em;
    margin: 1em;
}

.checkbox_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0.5em 1em 0.5em 1em;
    color: lightcoral;
}

.checkbox_wrapper input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

.checkbox_wrapper label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.checkbox_wrapper label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid lightcoral;
    background-color: white;
    border-radius: 5px;
}

.checkbox_wrapper input[type="checkbox"]:checked + label::before {
    background-color: lightcoral;
}

.checkbox_wrapper input[type="checkbox"]:checked + label::after {
    content: '✕';
    position: absolute;
    left: 12px;
    top: 10px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
}
