@media (max-width: 600px) {

    /* header responsiveness */

    header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 3em 3em;
    }
    
    header h1 {
      grid-column: 1 / span 2;
      grid-row: 1;
      text-align: center;
      padding-bottom: 0.500em;
      margin-top: 1em;
    }
  
    header h2 {
      display: none;
    }
  
    header .login_button, header .named_button {
      grid-column: 1;
      grid-row: 2;
      justify-self: center;
      padding-top: 4em;
    }
  
    header .register_button, header .logout_button {
      grid-column: 2;
      grid-row: 2;
      justify-self: center;
      padding-top: 4em;
    }

    header .login_button a,
    header .named_button a,
    header .register_button a,
    header .logout_button a {
        padding: 0.8em 1.5em;
    }

    /* footer responsiveness */

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: seashell;
    }

    footer p {
        justify-self: center;
    }

    footer .index_button a {
        padding: 0.3em 1.5em;
        justify-self: center;
    }

    /* services page (index) responsiveness */

    #services .create_service_button {
        display: block;
        width: fit-content; 
        margin: 0 auto;
        text-align: center;
    }

    #services .create_service_button a:hover {
        border: 2px solid #15756F;
    }

    #services .create_service_button a {
        display: block; 
        white-space: normal;
        word-break: break-word;
        text-align: center;
    }

    #services {
        width: auto;
        max-width: 90vw;
    }

    #services .service_container h3 {
        padding: 0.5em 1em;
        font-size: 1.2em;
        text-align: center;
        text-wrap: nowrap;
        white-space: normal;
        border: 2px solid lightcoral;
    }

    #services .service_container h3:hover {
        border: 2px solid #B85C5C;
    }

    #services .service_container h3 a {
        border: 0px;
    }

    #services .service_container h3 a:hover {
        border: 0px;
    }

    /* Center alignment for smaller screens */
    h2 {
        text-align: center;
    }

    input, select, textarea {
        text-align: center;
    }

    #services #service_filter .confirm_button {
        display: block;
        margin: 0 auto;
    }

    #services #service_filter .filter_container .filter-option input {
        width: fit-content;
    }
}